table{
  width:400px;
  background-color: cornsilk;
  border: 3px solid black;
}

td{
  padding:3px;
  border:2px solid black;
}
th{
  background-color: cornflowerblue;
  column-span: 3px;
}
.Luke{
  color: aliceblue;
  background-color: cornflowerblue;
  margin-top: 0px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 30px gray;
}

.photo{
  border-radius:50%;
  max-width: 90%;
  margin: 10px;
  margin-right: 40px;
}

.photo-wrapper {
  display:flex;
}

hr {
  border: none;
  border-top: 2px solid red;
  margin: 20px 0;
}

.navbar {
  background-color: #f5f5f5;
}
.nav-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style:circle;
justify-content: center;
}

  body {
    background-image: url("../../tupac.jpg"); /* 靜態圖片路徑 */
    background-size: cover;
    background-position: center;
  }
ul{
  color: aqua;
}
p{
  color: aqua;
}